{% extends "base.html" %}
{% block title %}Calendar{% endblock %}

{% block html_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

<link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>Calendar</h1>
<a href="/" type="button" class="btn btn-outline-primary">Homepage</a><br><br>
<h2>Select a date and see the outgoing messages for that day</h2>
<div class="container-calendar">
	<div class="calendar">
		<div class="month">
			<i class="fas fa-angle-left prev"></i>
			<div class="date">
				<h1></h1>
				<p></p>
			</div>
			<i class="fas fa-angle-right next"></i>
		</div>
		<div class="weekdays">
			<div>Sun</div>
			<div>Mon</div>
			<div>Tue</div>
			<div>Wed</div>
			<div>Thu</div>
			<div>Fri</div>
			<div>Sat</div>
		</div>
		<div class="days"></div>
	</div>
	<div class="message" id="sentmsg"></div>
</div>

<div id="modal_read" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<div id="modal_read_text">
			<p>ASE &lt;3 </p>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='calendar.js') }}"></script>
{% endblock %}