{% extends "base.html" %}
{% block title %}Content filter{% endblock %}

{% block content %}
<h1>Content filter</h1>

<a href="/" type="button" class="btn btn-outline-primary">Homepage</a> 
<a href="/settings" type="button" class="btn btn-outline-primary">Back to settings</a><br><br>

Press enable to activate a content filter that automatically censors bad words!<br><br>

<a class="btn btn-primary" href="/api/content_filter/1">Enable</a>
<a class="btn btn-primary" href="/api/content_filter/0">Disable</a><br><br>

{{feedback}}
{% endblock %}