<html>

<body>
	<h1>Create a new user</h1>
	<a href="/">Home</a><br><br>
	<form action="" method="POST">
		{{ form.hidden_tag() }}
		<dl>
			{% for field in form.display %}
			<dt>{{ form[field].label }}</dt>
			<dd>{{ form[field]() }}</dd><br>
			{% if form[field].errors %}
			{% for e in form[field].errors %}
			<p class="help-block">{{ e }}</p>
			{% endfor %}
			{% endif %}
			{% endfor %}
		</dl>
		<p>
			<input type=submit value="Submit">
	</form>
	<p style="color:red">{{error}}</p>
</body>

</html>