{% extends "base.html" %}
{% block title %}Edit profile{% endblock %}

{% block content %}
<h1>Edit profile</h1>
<a href="/" type="button" class="btn btn-outline-primary">Homepage</a>
<a href="/settings" type="button" class="btn btn-outline-primary">Back to settings</a><br><br>

<div>
	<form action="" method="POST">
		{{ form.hidden_tag() }}
		<h5>First name</h5><input type="text" name="textfirstname" value={{user.firstname}}>
		<h5>Last name</h5><input type="text" name="textlastname" value={{user.lastname}}>
		<h5>Email</h5><input type="text" name="textemail" value={{user.email}}>
		<h5>Date of birth</h5><input type="date" name="textbirth" value={{user.dateofbirth}}>
		<p>
			<br>
			<input type=submit value="Submit" class="btn btn-outline-primary"><br>
			<h7 style="color: red;"> {{ error }}</h7>
</div>
{% endblock %}