{% extends "base.html" %}
{% block title %}Password reset{% endblock %}

{% block content %}
<h1>Reset password</h1>
<a href="/" type="button" class="btn btn-outline-primary">Homepage</a>
<a href="/settings" type="button" class="btn btn-outline-primary">Back to settings</a><br><br>

<div>
	<form action="" method="POST">
		<h5>Current password</h5> {{ form.currentpassword }}
		<h5>New password</h5> {{ form.newpassword }}
		<h5>Confirm password</h5>{{ form.confirmpassword }}
		<p>
			<br>
			<input type=submit value="Submit" class="btn btn-outline-primary"><br>
			<h7 style="color: red;"> {{ error }}</h7>
			<h7 style="color: green;"> {{ success }}</h7>
</div>
{% endblock %}