{% extends "base.html" %}
{% block title %}Password reset{% endblock %}

{% block html_head %}
<style>
  body  {
    background-image: url("{{url_for('static', filename='account_datas.jpg')}}");
    background-size: cover;
    color:black;
  }
  
  h1{
    font-family: 'Abril Fatface', cursive;
  }

  .container-md{
    top: 40%;
    background-color: #F2F2F2;
    border-radius: 3%;
    width: 400px;
    height: 380px;
  }
</style>
{% endblock %}

{% block content %}
<a href="/" type="button" style="position: relative; left: 20px; top: 15px"
  class="btn btn-primary">Homepage</a>
<a href="/settings" type="button" style="position: relative; left: 20px; top:
  15px" class="btn btn-primary">Back to settings</a>
<div class="container-md">
  <div class="text-center">
    <form action="" method="POST">
      <br>
      <h1>Reset password</h1>
      <h5>Current password</h5> {{ form.currentpassword }}
      <h5>New password</h5> {{ form.newpassword }}
      <h5>Confirm password</h5>{{ form.confirmpassword }}
      <p>
        <br>
        <input type=submit value="Submit" class="btn btn-outline-primary"><br>
        <h7 style="color: red;"> {{ error }}</h7>
        <h7 style="color: green;"> {{ success }}</h7>
      </div>
    </div>
{% endblock %}
