{% extends "base.html" %}
{% block title %}Send or draft message{% endblock %}

{% block content %}
<h1>Send a message</h1>
	<a href="/" type="button" class="btn btn-outline-primary">Homepage</a><br><br>
	<h3>Drafted messages</h3>

	<!-- This gets filled by JS -->
	<table class="table table-light" id="draftsTable">
	</table>

	<h2>Compose message</h2>
	<p style="color:red">{{message}}</p>
	<form method="POST" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<dl>
			<dt><label>Choose recipients </label></dt>
			<dt><select multiple name="recipient" id="recipient"></dt></select>
			{% for field in form.display %}
			<dt>{{ form[field].label }}</dt>
			<dd>{{ form[field]() }}</dd><br>
			{% if form[field].errors %}
			{% for e in form[field].errors %}
			<p class="help-block">{{ e }}</p>
			{% endfor %}
			{% endif %}
			{% endfor %}
		</dl>

		{{ ckeditor.load() }}
		{{ ckeditor.config(name='text') }}
		<label for="delivery_date">Choose a time for delivering message </label>
		<input type="datetime-local" id="delivery_date" name="delivery_date" />
		<button type="submit" formaction="/api/message/send_message">Send message</button>
		<button type="submit" formaction="/api/message/draft">Save draft</button>
	</form>
{% endblock %}

{% block scripts %}
<script>
	var MEDIA_URL = `{{ url_for('static', filename='user_uploads/MEDIA') }}`
</script>
<script src="{{url_for('static', filename='send_message.js')}}"></script>
{% endblock %}
